@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&family=Tapestry&display=swap');

*{
  
  box-sizing: border-box;
  margin: 0 ;
  font-family: 'Readex Pro', sans-serif;
  /* font-family: 'Tapestry', cursive; */ 
}
body{
  overflow: hidden;
  background-color: rgb(247, 247, 247);
}
.center-wrap{
  display: flex;
  justify-content: center;
  align-content: center;
}
.nav-wrap{
  z-index: 5;
  background-color: rgb(0, 0, 0);  
  position: fixed;
  padding-top: 1px;
  padding-inline: 2px;
  bottom: 0;
  filter:drop-shadow(0 0 .8rem chartreuse);
  display: flex;
  justify-content: center;
  border-radius: 3rem 3rem 0 0;
}

.nav{
  z-index: 10;

  filter: blur(0px);
  display: flex;

  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  background-color: chartreuse;
  border-radius: 3rem 3rem 0 0 ;

}
@media (max-width:768px) {
  .nav{
    width: 96vw;
  }
  
}
.nav a{
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}


.nav a:hover, .nav a:active{
  transition: .4s;
  border-bottom: 1px solid white;
  filter:drop-shadow(0 0 .2rem white);

}

.next{
  border-radius:  1rem 1rem 3rem 3rem;
  margin-top: 50vh;
  right: 5vw;

}

.back{
  border-radius:  3rem 3rem 1rem 1rem;
  margin-bottom: 30vh;
  left: 5vw;  
}

.more{
  background-color: rgba(0, 0, 0, 0);
  margin-top: 30vh;
  border-radius:  3rem 3rem 3rem 3rem;
  height: 2rem;
  width: 9rem;
  border: none;
  filter:blur(.6px)
}

.more:hover{
  transform: scale(120%);
  transition: .45s;
  border-bottom: solid 2px rgba(128, 255, 0, 0.2);
  background-color: rgba(128, 255, 0, 0.5);
  color: white;
  filter:drop-shadow(0 0 .8rem chartreuse);
}
.more:hover:after{
  transition: .65s;
}

.return{
  left:47%;
  opacity: .9;
  color: white;

  border-radius:  3rem 3rem 3rem 3rem;
  border: none;
  margin: 3vh 1vh 15vh 1vh;
  position:static;

}

 button:hover{
   color: black;
  opacity: 1;
  transform: scale(105%);
  border: none;
  background-color: rgba(128, 255, 0, 1);
  filter:drop-shadow(0 0 .8rem chartreuse);
  transition: .25s;
}

button{
  overflow: hidden;
  color: white;
  background-color: rgba(0, 0, 0, 0.151);
  padding: 2vh 2rem;
  border-bottom: 3px;
  align-items: center;
  justify-content: center;
  z-index:5;
  display: flex;
  position: fixed;
}

.no-scroll{
  overflow: hidden;
}

@media (max-width: 900px) {
    .back{
        margin-top: 5vh;

    }
    .next{

        margin-top: 80vh;
    }
    .return{
      left:40%;
    }
}